<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uploading images</title>
</head>
<body>
    <h4>Upload your image</h4>

    <form action="" method="POST" enctype="multipart/form-data">
        <label for="">Select image</label>

        <div>
            <input type="file" name="image" id="image">
        </div>

        <button type="submit">Upload</button>
        

    </form>
    
</body>
</html>